@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

/* navbar starts here */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  transition: 0.8s;
  z-index: 100;
  height: 5rem;
}
.white-nav{
  top: 0;
  left: 0;
}
.white-nav {
  background-color: #0a192fd2;
}
.white-nav .navbar .menu .menu-item a {
  color: #ffffff;
}
.white-nav .hamburgerwhite {
  display: none;
}
.white-nav .hamburgerblack {
  display: block;
}
.white-nav .navbar {
  margin-top: 0;
}
nav .navbar {
  /* margin-top: 2rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo img {
  width: 9rem;
}
.menu {
  display: flex;
}
.menu-item {
  margin: 0 2rem;
}
.menu-item a {
  text-decoration: none;
  font-size: 1em;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  transition: 0.25s;
  color: white;
}
.menu-item a:hover {
  color: #ecd4ff;
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger img {
  height: 1.1rem;
}
.hamburgerblack {
  display: none;
}
.mobilemenu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  background-color: white;
  padding-top: 35px;
  z-index: 200;
  animation-name: menushow;
  animation-duration: 0.5s;
}
.login-button button{
 background-color: #1666d8;
 color: white;
 border: none;
 border-radius: 6px;
 padding: 6px 15px;
 font-size: 1rem;
}
.login-button button:hover{
 background-color: #032d69;
}
@keyframes menushow {
  from {
    left: -80vw;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

.show-mobilemenu {
  display: block;
}
.mobile-menu-item {
  padding: 10px 15px;
  font-size: 1.5em;
}
.mobile-menu-item a {
  text-decoration: none;
  color: #3a0b5e;
  font-family: serif;
}
.mobile-menu-item a:hover {
  text-decoration: none;
  color: #871dd7;
}
.nav-max-width {
  width: 90vw;
  margin: 0 5vw;
}
.community-register-btn {
  height: 100%;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.user-profile-img {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-profile-img img {
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 50%;
}

/* header slider design starts */
header {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;margin-bottom: 17rem;
}
.slide-container {
  width: 100vw;
  height: 100vh;
}
.slide-content {
  overflow: hidden;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image-content {
  position: relative;
}
.header-card-image {
  position: relative;
  height: 100vh ;
  width: 100vw;
  background: #fff;
}
.swiper-slide img {
  height: 100vh ;
  width: 100vw ;
  background-size: contain;
  
}
.header-card-image .card-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.header-card-image .card-img {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
.bottom-white-line {
  max-width: 100vw;
  position: absolute;
  bottom: -5px;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.bottom-white-line img {
  max-width: 100vw;
}
.absolute-content {
  position: absolute;
  z-index: 5;
  margin-bottom: 2rem;
  text-align: center;
}
.absolute-content h1 {
  font-size: 3rem;
  font-weight: 400;
  color: #ffffff;
  margin: 1rem 0;
}
.search-form-wrapper {
  position: relative;
}
.search-form-wrapper input {
  width: 40rem;
  height: 3rem;
  border-radius: 8px;
  padding: 6px 3rem;
  border: none;
  outline: none;
  font-size: 1rem;
  color: rgb(64, 64, 64);
}

.search-form-wrapper input:focus::placeholder {
  color: transparent;
}
.search-form-wrapper .search-icon {
  position: absolute;
  left: 8px;
  z-index: 7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form-wrapper .search-icon img {
  width: 25px;
  height: 25px;
}
.search-form-wrapper .search-btn-wrapper {
  position: absolute;
  right: 6px;
  top: 0;
  z-index: 7;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-form-wrapper .search-btn-wrapper button {
  padding: 7px 20px;
  background-color: #1666d8;
  border-radius: 8px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
}
.search-form-wrapper .search-btn-wrapper button:hover {
  background-color: #4001d3;
  border: none;
}
.categories-list {
  /* width: 35rem; */
  height: 4.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem 0;
}
.categories-list .category button {
  margin: 0 0.2rem;
  padding: 5px 20px;
  color: #ffffff;
  background-color: #0a192fbb;
  border-radius: 6px;
  border: 1.5px solid white;
}

/* header slider design starts */


/* bloges list display :start */

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, .1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}

.blog-card .details, .blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, .6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f007";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "\f133";
}
.blog-card .details .tags ul:before {
  font-family: FontAwesome;
  content: "\f02b";
  margin-right: 10px;
}
.blog-card .details .tags li {
  margin-right: 2px;
}
.blog-card .details .tags li:first-child {
  margin-left: -4px;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1, .blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
  text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "\f061";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
 }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
 }
  .blog-card .description {
    flex-basis: 60%;
 }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
 }
  /* .blog-card.alt {
    flex-direction: row-reverse;
 } */
  .blog-card .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
 }
  .blog-card .details {
    padding-left: 25px;
 }
 .blog-card:nth-child(odd){
  flex-direction: row-reverse;
 }
}

.description p{
  color: #414141;
}

/* bloges list display :end */


/* dropdown  user */


.action .profile {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.action .menu-avtar {
  position: absolute;
  top: 120px;
  right: -10px;
  padding: 10px 20px;
  background: #fff;
  width: 200px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  opacity: 0;
}

.action .menu-avtar.avtar-active {
  top: 80px;
  visibility: visible;
  opacity: 1;
}

.action .menu-avtar::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: #fff;
  transform: rotate(45deg);
}

.action .menu-avtar h3 {
  width: 100%;
  text-align: center;
  font-size: 18px;
  padding: 20px 0;
  font-weight: 500;
  color: #555;
  line-height: 1.5em;
}

.action .menu-avtar h3 span {
  font-size: 14px;
  color: #cecece;
  font-weight: 300;
}

.action .menu-avtar ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu-avtar ul li img {
  max-width: 20px;
  margin-right: 10px;
  opacity: 0.5;
  transition: 0.5s;
}

.action .menu-avtar ul li:hover img {
  opacity: 1;
}

.action .menu-avtar ul li a {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  transition: 0.5s;
}

.action .menu-avtar ul li:hover a {
  color: #ff5d94;
}
.bottom-header-cardes{
  color: #1666d8;
  position: absolute;
  background-color: #ececec;
  box-shadow: rgb(183, 183, 183) 2px 2px 9px;
  border-radius: 15px;
  z-index: 20;
  bottom: -9rem;
  height: 15rem;
  width: 70%;
  height: 20rem;
  min-width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-cardes-left a img{
  width: 20rem;
  height: 20rem;
  background-size: cover;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}
.header-cardes-right{
  padding: 20px 15px;
}


/* final edites */
.view-seo{
  display: flex;
  align-items: center;
  justify-content:flex-basis;
  margin:0.2rem 0;
}
.view-seo p{
  padding: 0 12px;
  padding-top:9px;
  align-items:center;
}
.view-seo img{
  /* height:30px; */
  width:30px;
}
.view-seo img:nth-child(1){
  /* height:30px; */
  width:25px;
}
.read-more-main{
  margin-top:2rem;
}
.read-more-main a{
  text-decoration:none;
  background-color:blue;
  border-radius:8px;
  color:white;
  padding:8px 14px
}
.header-cardes-right{
  padding: 1rem 1rem;
}
.header-cardes-right h2{
  color:rgb(54, 54, 54);
  margin:0.2rem 0;
  margin-top: 1rem;
}
.header-cardes-right p{
  color:rgb(54, 54, 54);
}
.view-seo p{
  margin-top: 6px;
}
.view-seo h5{
  color: #464646;
  font-size: 0.8rem;
  font-weight: 400;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
}

/* navigation search bar */
.search-section{ 
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-section img{ 
  height: 30px;
  width: 30px;
  margin-right: 1.2rem;
}
.search-box-sec{
  position: fixed;
  display: none;
  top: 0;
  left:0;
  min-width: 100vw;
  min-height:100vh;
  background-color: #0a0a0aa9;
  z-index: 200;
}
.inside-search-box{
  display: flex;
  min-width: 100vw;
  min-height:100vh;
  align-items: center;
  justify-content: center;
}
.active-search-box{
  display: block;
}
.search-box-sec .search-form-wrapper input{
  background-color: #1666d8;
  color: white;
}
.search-box-sec .search-form-wrapper input::placeholder{
  color: white;
}
.search-box-sec .search-form-wrapper .search-btn-wrapper button{
  color: #1666d8;
  background-color: white;
}

.cross-search img{
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  margin-left: 1rem;
}




/* footer design starts
 */
 body{
  padding:0;
  margin: 0;
}

.footer {
width: 100%;
margin-top: 6rem;
background-color: #0a192f;
color: white;
}
.newsletter-div {
display: flex;
flex-direction: row;
justify-content: space-evenly;
}

.newsletter-des {
justify-content: center;
align-items: center;
align-self: center;
}
.newsletter-des p {
font-size: 1rem;
margin: 0;
font-family: "Poppins", sans-serif;
}
.newsletter-des input {
width: 27rem;
height: 3rem;
border-radius: 5px;
border: none;
padding-left: 10px;
margin: 1.2rem;
}
.newsletter-des h1 {
font-family: "Poppins", sans-serif;
}
.newsletter-img {
height: 20rem;
width: 25rem;
margin: 1.2rem;
}
.newsletter-img img {
height: 20rem;
width: 25rem;
}
.nele-btn {
position: relative;
left: -8.4rem;
background-color: #1666d8;
border-radius: 0.4rem;
border: none;
height: 2.5rem;
width: 15%;
color: white;
}

.absolute-content h1{
  margin-bottom: 3rem !important;
}

/* Lower section css */
.upper img{
  height: 100%;
  width: 100%;
}
.mid{
  background-color: #0a192f;
  width: 100%;   
  height: 100vh;
  color: #fff;
  font-family: 'Poppins SemiBold 600', sans-serif;
  display: flex;

}

h1{
  display: inline;
}
.footer-img img{
  position: absolute;
  width: 30%;
  display: flex;
  
  
}
.lower{
  background-color: #0a192f;
  padding:2.5rem
}
.footer-img{
  display: flex;
  justify-content: left;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}

.lleft{
  display: flex;
  flex-direction: column;

}

.l1 img{
  width: 16rem;
}
.lower{
  display: flex;
  justify-content: space-around;

}
.lright{
  display: flex;
  justify-content: space-around;
  align-self: center;
  
  
}
.l2 p{
  color  : #fff;
  font-family: 'Poppins Regular';   
}
.l3  p{
  color  : #fff;    
  font-family: 'Poppins Regular';   
}

.r1 ul {
  line-height:2.5rem;
}
ul li a {
font-size: 1.15rem;
    color: #fff;
}
.r2 ul{
    line-height:2.5rem; 
}
.r3 ul{
    line-height:2.5rem; 
}
.most-views{
  background-color: #99ddfc;
  color: #0046a9;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 5px 5px;
}



@media screen and (max-width: 768px) {
  .logo{
    display: none;
  }
  .logo a img{
    display: none;
  }
  .search-form-wrapper {
    margin-top: 2rem;
  }
  .search-form-wrapper input {
    height: 3rem;
    width: 80vw;
  }
  .search-form-wrapper .search-icon {
    position: absolute;
    left: 0px;
    z-index: 7;
  }
  .bottom-header-cardes{
    flex-direction: column;
    text-align: center;
  }
  .header-cardes-left a img {
    width: 12.5rem;
    height: 12.5rem;
  }
  .header-cardes-left img{
    border-radius: 15px;
  }
}
@media screen and (max-width: 580px) {
  .menu-item {
    margin: 0.5rem;
  }
  .search-form-wrapper input {
    height: 3rem;
    width: 95vw;
  }
  .category:nth-child(3){
    display: none;
  }
  .bottom-header-cardes{
    max-width: 100vw;
    min-width: 0;
    width: 100%;
    height: auto;
    text-align: center;
  }
  .search-section img{
    margin-right: 0.5rem;
  }
  .login-button button{
    padding: 5px 7px;
  }
  .community-register-btn{
    width: auto;
  }
  .header-card-image {
    height: 70vh ;
  }
  .swiper-slide img{
    height: 70vh !important;
  }
  .bottom-header-cardes{
    bottom: -4.5rem;
  }
  .absolute-content{
    /* margin-bottom: 10rem; */
    top: 12rem;
  }
}
@media screen and (max-width: 1000px) {
  .read-more-main{
    margin-top: 0.5rem;
  }
  .header-cardes-right p{
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
  }
  .header-cardes-right h2{
    font-size: 1.1rem;
  }
}